<div class="col-12"></div><div class="col-12"></div><div class="col-12"></div><div class="col-12"></div><div class="col-12"></div>
<h1>Encuesta</h1>
<p-card >
    <div class="grid" style="text-align: center;">
        <div class="col-12 texto-5">ESTILO MUSICAL</div>
        <div class="col-12 texto-5">
            <p-dropdown [options]="listaEstiloMusical"  [(ngModel)]="estiloMusical" optionLabel="descripcion" optionValue="codigo" scrollHeight="50vw"></p-dropdown>
        </div>
        <div class="col-12 texto-5">email</div>
        <div class="col-12 texto-5">
            <input type="email" pInputText class="form-control" [(ngModel)]="email"> 
        </div>
        <div class="col-12"><p-button label="Submit"  (click)="clickSubmit()"> </p-button></div>
    </div>
</p-card>
