/* You can add global styles to this file, and also import other style files */

body{
    background-color: #20262e;
    color: white;
    padding: 5%;
}

h1{
    font-size:8vw;
    color: cyan;
}
.p-inputtext {
    font-size:5vw;
}

.p-button{
    font-size:5vw;

}

.texto-1{
    font-size:1vw;

}
.texto-2{
    font-size:2vw;

}
.texto-3{
    font-size:3vw;

}
.texto-4{
    font-size:4vw;

}
.texto-5{
    font-size:5vw;

}
input{
    font-size:5vw;

}
.p-inputtext{

    font-size:5vw;
}
.p-component {
    font-size:5vw;}
